<h1>about</h1>
<div class="content">
  <p>SmartAqua operates globally and partners with other organisations in their network bringing pragmatic solutions for the seafood industry = Smarter Seafood Production.</p>
</div>
