<h1>about</h1>
<div class="content">
  <p>SmartAqua operates globally and partners with other organisations in their network bringing pragmatic solutions for the seafood industry = Smarter Seafood Production.</p>
  <p>SmartAqua was first established in 1996 by Alastair Smart to offer seafood consulting services chiefly to the fast growing aquaculture industry. After some years working in many countries he saw a number of colleagues offering the same service and the concept of a Team offering a one-stop-shop for seafood advice not limited by scope or geography was formed and the group expanded globally.</p>
    <div class="clients">
      <h2>A Selection of Clients</h2>
    </div>
</div>
