<h1>about</h1>
<div class="content">
  <p>SmartAqua operates globally and partners with other organisations in their network bringing pragmatic solutions for the seafood industry = Smarter Seafood Production.</p>
  <p>SmartAqua was first established in 1996 by Alastair Smart to offer seafood consulting services chiefly to the fast growing aquaculture industry. After some years working in many countries he saw a number of colleagues offering the same service and the concept of a Team offering a one-stop-shop for seafood advice not limited by scope or geography was formed and the group expanded globally.</p>
    <div class="clients">
      <h2>A Selection of Clients</h2>
    </div>
</div>

<h1>team</h1>
<h2>Our core team of professionals are respected global leaders in their respective fields providing turnkey solutions including advice and product supply.</h2>

<div class="card" style="background-image: url(https://res.cloudinary.com/dhht1zvmg/image/upload/v1706164650/image-asset_ronc42.jpg)">
  <h2>Alastair Smart</h2>
</div>
<%# <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>


Alastair Smart
Alistair Douglas
Christine Huynh - Nautilus Collaboration
Joseph Tuma
Sam Bowman

Fernando Oyarzun

Glenn Shiell - Stantec

Paula Sylvia - San Diego

Gopinath Nagaraj

Fuz Rahman
