<%= render "pages/navbar" %>
<div class="banner" style="background-image: url(http://smartaqua.com.au/wp-content/uploads/2019/02/p9030064.jpg);">
  <div class="container">
    <h1>Solutions for Smarter Seafood Production</h1>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>

<div class="homecontent">
  <p>"SmartAqua brings a globally diverse team of passionate and dedicated people with the experience to help seafood companies, venture capital and private equity firms, governments, researchers and non-government organisations."</p>
  <h2>Seafood is one of the largest industries on the planet </h2>

  <div class="quote">
    <p>"IT HAS BEEN CALCULATED that if no accident prevented the hatching of the eggs and each egg reached maturity, it would take only three years to fill the sea so that you could walk across the Atlantic dryshod on the backs of cod."</p>
    <h2>Alexandre Dumas, Le Grand Dictionnaire de Cuisine, 1873</h2>
  </div>

  <div class="facts">
    <ul>
      <li>12% of global livelihoods - 1 out of every 10 people on the planet derive their income from seafood and aquaculture.</li>
      <li>90% of our seafood comes from millions of small scale producers in developing nations.</li>
      <li>90% growth in consumption - people are eating more seafood than ever. In the past 50 years global per capita consumption has nearly doubled</li>
      <li>$150 billion in annual export value - export value doesn't include retail, or domestic production so full estimates of the industry size are upwards of $500 billion USD. Full retail estimates are close to USD$1 trillion</li>
    </ul>
  </div>

</div>
